<!-- cart banner section start -->
<div class="cart_banner">
    <div class="container">
        <div class="menu_bar">
            <app-navbar></app-navbar>
        </div>

        <div class="cart_inner">
            <div class="welcome_part">
                <h6>// Welcome to our company</h6>
                <h1>Checkout</h1>
            </div>
            <div class="back_home_part">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- cart banner section end -->

<!-- return customer start -->
 <div class="return_customer">
    <div class="container">
        <div class="please_login">
            <span>Returning customer?</span>
            <a href="">Click here to login</a>
        </div>
    </div>
 </div>
<!-- return customer end -->

<!-- billing details start -->
 <div class="billing_details">
    <div class="container">
        <h3>Billing Details</h3>
        <div class="billing_info">
            <h5>Personal Information</h5>
            <form>
                <div class="form_feild">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="form_feild">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="form_feild">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="select_input">
                    <h5>Country</h5>
                    <select name="" id="">
                        <option value="">Select</option>
                        <option value="">Bangladesh</option>
                        <option value="">Pakistan</option>
                        <option value="">India</option>
                        <option value="">UK</option>
                        <option value="">US</option>
                    </select>
                </div>
                <div class="home_town">
                <h5>Address</h5>
                <div class="form_feild">
                    <input type="text" placeholder="House number and street name">
                    <input type="text" placeholder="Apartment, suite, unit etc (optional)">
                </div>
                </div>
                <div class="address">
                    <div class="towncity">
                        <h5>Town / City</h5>
                        <div class="feild">
                            <input type="text" placeholder="City">
                        </div>
                    </div>
                    <div class="towncity">
                        <h5>State</h5>
                        <div class="feild">
                            <input type="text" placeholder="State">
                        </div>
                    </div>
                    <div class="towncity">
                        <h5>Zip</h5>
                        <div class="feild">
                            <input type="text" placeholder="Zip">
                        </div>
                    </div>
                </div>
                <p>
                    <label for="">
                        <input type="checkbox" name="agree">
                         Create an account?
                    </label>
                </p>
                <div class="order_note">
                    <h5>Order Notes (optional)</h5>
                    <textarea name="" id="" cols="60" rows="6" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>
            </form>
        </div>
    </div>
 </div>
<!-- billing details end -->

<!-- payment method start -->
 <div class="method_cart">
    <div class="container">
        <div class="payment_method">
            <h2>Payment Method</h2>

            <div class="card_method">

            <div class="payment-option" (click)="togglePayment('check')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'check'"
            />
            <label>Check payments</label>
            </div>

            <div *ngIf="selectedMethod === 'check'" class="collapse-box">
            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
            </div>

            <div class="payment-option" (click)="togglePayment('card')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'card'"
            />
            <label>Credit Card</label>
            </div>

            <div *ngIf="selectedMethod === 'card'" class="collapse-box">
            <p>Enter your card details:</p>
            <input type="text" placeholder="Card Number" />
            <input type="text" placeholder="MM/YY" />
            <input type="text" placeholder="CVV" />
            </div>

            <div class="payment-option" (click)="togglePayment('cash')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'cash'"
            />
            <label>Cash on delivery</label>
            </div>

            <div *ngIf="selectedMethod === 'cash'" class="collapse-box">
            <p>Pay with cash upon delivery.</p>
            </div>

                <div class="payment-option" (click)="togglePayment('bkash')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'bkash'"
            />
            <label>bKash</label>
            </div>

            <div *ngIf="selectedMethod === 'bkash'" class="collapse-box">
            <p>bKash Number: <input type="text" placeholder="01XXXXXXXXX" /></p>
            <p>Send money and enter Transaction ID:</p>
            <input type="text" placeholder="TrxID" />
            </div>

            <div class="payment-option" (click)="togglePayment('nagad')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'nagad'"
            />
            <label>Nagad</label>
            </div>

            <div *ngIf="selectedMethod === 'nagad'" class="collapse-box">
            <p>Nagad Number: <input type="text" placeholder="01XXXXXXXXX" /></p>
            <p>Enter Transaction ID:</p>
            <input type="text" placeholder="TrxID" />
            </div>

            <div class="payment-option" (click)="togglePayment('rocket')">
            <input
                type="radio"
                name="payment"
                [checked]="selectedMethod === 'rocket'"
            />
            <label>Rocket</label>
            </div>

            <div *ngIf="selectedMethod === 'rocket'" class="collapse-box">
            <p>Rocket Number: <input type="text" placeholder="01XXXXXXXXX" /></p>
            <p>Enter Transaction ID:</p>
            <input type="text" placeholder="TrxID" />
            </div>
            </div>

            </div>
        </div>
    </div>

<!-- payment method end -->