<!-- cart banner section start -->
<div class="cart_banner">
    <div class="container">
        <div class="menu_bar">
            <app-navbar></app-navbar>
        </div>

        <div class="cart_inner">
            <div class="welcome_part">
                <h6>// Welcome to our company</h6>
                <h1>Cart</h1>
            </div>
            <div class="back_home_part">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- cart banner section end -->

<!-- shopping cart section start -->
 <section class="shopping_cart_area">
    <div class="container">
    <div class="shopping_cart_inner">
        <div class="shopping_cart_table">
            <div class="shopping_cart_list">
                    <div class="cart-product-remove">x</div>
                    <div class="cart-product-image">
                        <a href="">
                            <img src="../../assets/img/product/1.webp" alt="">
                        </a>
                    </div>
                    <div class="cart-product-info">
                        <h4>
                            <a href="">Vegetables Juices</a>
                        </h4>
                    </div>
                    <div class="cart-product-price">$149.00</div>
                    <div class="cart-product-quantity">
                        <div class="cart-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                            <div class="inc qtybutton">+</div>
                        </div>
                    </div>
                    <div class="cart-product-subtotal">$298.00</div>
            </div>
                
        </div>
    </div>
    </div>
 </section>
<!-- shopping cart section end -->